.bg-contact {
  width: 100%;
}
.contact {
  position: relative;
  @include min-width(large) {
    & .patterns {
      position: absolute;
      bottom: 13rem;
      left: 0;
      height: 30rem;
      width: 70%;
      background-image: url(/images/patterns/pattern-curve-bottom-right.svg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -22222222;
    }
  }

  & .text-hero {
    top: 4%;
    padding: 0;
    @include min-width(small) {
      & h1 {
        margin-top: 7.5rem;
      }
      & button {
        display: none;
      }

      & .logo {
        float: left;
      }
    }
    @include min-width(large) {
      left: 0%;
      height: 0;

      & h1 {
        margin-top: 60%;
      }

      & p {
        max-width: 400px;
      }
      & .logo {
        top: 22px;
      }
    }
  }
}

.caret {
  display: none;
}

.pick {
  top: -45px !important;
  color: black !important;
  white-space: nowrap;
  margin-bottom: 0.5rem !important;
  position: relative;

  @include min-width(small) {
    top: 0 !important;
    left: -122.5% !important;
  }
}
.row {
  margin-top: 1.5rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  width: 100%;
  @include min-width(small) {
    margin-right: 0;
    width: 72%;
    margin-left: auto !important;
  }
}

/* label focus color */
.input-field input:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.dropdown-content .select-dropdown {
  box-shadow: $box-shadow !important;
}
.dropdown-content {
  min-width: fit-content !important;
}
.dropdown-content li > span {
  color: $codGray !important;
}

.form-control-select {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.form-container {
  width: 88% !important;
  padding: 2rem;
  transform: translateY(-9rem);
  z-index: 30000000 !important;
  box-shadow: $box-shadow;
  background-color: white;
  position: relative;
  @include min-width(small) {
    transform: translateY(-12.5rem);
    width: 70% !important;
  }
  @include min-width(large) {
    max-width: 580px !important;
    margin-right: 10% !important;
    transform: translateY(-22.5rem);
    padding: 3rem;
    margin-bottom: -12rem !important;
    width: 42% !important;
  }

  button {
    @include button-on-ligth;
    width: 100%;
    margin-top: 1rem;
    position: relative;

    @include min-width(large) {
      & ::before {
        content: '';
        position: absolute;
        bottom: -2rem;
        left: -2rem;
        width: 75px;
        height: 45px;
        background-image: url(/images/patterns/pattern-lines.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.persons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid $shuttleGray !important;
  padding-bottom: 1rem;
}
strong {
  font-weight: 700 !important;
}
.check {
  position: absolute;
}

#am {
  & .select-wrapper {
    background: url(/images/icons/icon-arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: white !important;
    & ul > li:first-child {
      position: relative;
    }
    & ul > li:first-child :before {
      content: '';
      position: absolute;
      right: 7px;
      top: 0;
      bottom: 22px;
      left: 0;
      background: url(/images/icons/icon-arrow.svg);
      transform: rotate(180deg);
      background-repeat: no-repeat;
    }
  }

  & ul:not(.browser-default) > li :hover {
    background: url(/images/icons/icon-check.svg) !important;
    background-position: 85% !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
  }

  & ul:not(.browser-default) > li:first-child :hover {
    background: none !important;
  }

  & .select-dropdown,
  .dropdown-trigger {
    text-align: left !important;
    box-sizing: border-box;

    @include min-width(large) {
      padding-left: 15px;
    }
  }
}

.form-container {
  @include min-width(large) {
    & .container {
      margin: 0;
    }
  }
}

.input-field {
  & label {
    font-size: 18px !important;
  }
}

.select-dropdown {
  text-align: center !important;
}
.select-wrapper input.select-dropdown {
  font-size: 18px !important;
}
.dropdown-content {
  padding: 0 !important;
}

.row-time,
.row-date {
  margin-top: 2.5rem;
  @include min-width(small) {
    margin-top: unset;
  }
}
.lines {
  @include min-width(large) {
    position: absolute;
    background: url(/images/patterns/pattern-lines.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 27%;
    left: 40%;
    z-index: -33333333555555555533 !important;
    width: 150px;
    height: 68px;
  }
}
.dropdown-content li > a,
.dropdown-content li > span {
  padding-left: 5px !important;
}

.select-dropdown .disabled {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.plus {
  cursor: pointer;
}
.minus {
  cursor: pointer;
}
.plus :active {
  opacity: 0.5;
}
.minus :active {
  opacity: 0.5;
}

.error-color {
  color: red !important;
}
.error {
  border-color: red !important;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin-left: 15px;
}
.errorMessage-pick {
  position: absolute;
  bottom: 11px;
  left: -15px;
  color: red;
  font-size: 14px;
  font-size: 10px;
  margin-left: 15px;
}
.input-field .error {
  & input {
    border-color: red !important;
  }
}
