.description-1 {
  background-color: #fff;
  position: relative;

  @include min-width(small) {
    height: 28rem;
  }
  @include min-width(large) {
    width: 80%;
    margin: auto;
    height: 57.5rem;
  }
}

.img-sheeps {
  position: absolute;
  left: 5.5%;
  right: 5.5%;
  width: 89%;
  transform: translateY(-5rem);
  box-shadow: $box-shadow;
  margin: auto;
  @include min-width(small) {
    transform: translateY(-113%);
    width: 75%;
    margin: auto;
  }
  @include min-width(large) {
    width: 50%;
    max-width: 540px;
    transform: translateY(0%);
    top: -6rem;
    left: 0%;
    right: 0%;
    margin: 0 auto 0 0;
  }
}

.text-description-1 {
  text-align: center;
  width: 89%;
  margin: 0 auto;
  padding: 100% 0 0 0;
  @include min-width(small) {
    padding: 0rem 13%;
    width: 80%;
    margin-top: 44.5%;
    @include min-width(large) {
      padding: 8rem 0rem 0 8rem;
      width: 50%;
      margin: 0rem 0 0 auto;
      text-align: left;
    }
  }
  & h2 {
    @include header-2;
    color: $mirage;
    margin: 1.7rem auto;
  }

  & p {
    @include body-1;
  }
}

.description-2 {
  background-color: #fff;
  position: relative;
  margin: 5.5rem auto 5rem auto;
  @include min-width(small) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0rem auto;
    & picture {
      &::after {
        content: '';
        position: absolute;
        top: 25%;
        right: 3%;
        width: 20%;
        height: 9.5%;
        background-image: url('/images/patterns/pattern-lines.svg');
        background-size: contain;
        z-index: 5;
      }
    }
  }
  @include min-width(large) {
    width: 80%;
    margin: auto;
    height: 30.375rem;

    & picture {
      &::after {
        content: '';
        position: absolute;
        top: 13rem;
        right: -81px;
        width: 128px;
        height: 97px;
        bottom: 1px;
        background-image: url('/images/patterns/pattern-lines.svg');
        background-repeat: no-repeat;
        z-index: 5;
      }
    }
  }

  .img-pan {
    position: absolute;
    left: 5.5%;
    right: 5.5%;
    width: 89%;
    margin: auto;
    box-shadow: $box-shadow;

    @include min-width(small) {
      width: 75%;
    }
    @include min-width(large) {
      width: 50%;
      max-width: 540px;
      right: 0;
      left: 0;
      bottom: -6.5rem;
      margin: 0 0 0 auto;
      z-index: 3;
    }
  }
  .text-description-2 {
    padding-top: 120%;
    text-align: center;
    width: 89%;
    margin: 0 auto;
    position: relative;
    @include min-width(small) {
      padding: 0 13%;
      width: 80%;
      margin: 54% auto 0;
    }
    @include min-width(large) {
      width: 40%;
      margin: 0 auto 0 0;
      padding: 0 0 11rem 0;
      text-align: left;
    }
  }

  & h2 {
    @include header-2;
    color: $mirage;
    margin: 1.7rem auto 1.5rem;
  }

  & p {
    @include body-1;
  }
}
