.highlights {
  background-color: $codGray;
  margin-top: 5rem;
  padding: 7rem 0 2rem 0;
  position: relative;

  @include min-width(small) {
    padding: 5.5rem 0 2rem 0;
    margin-top: 7rem;

    &:after {
      content: '';
      position: absolute;
      height: 17rem;
      width: 51%;
      right: 0;
      top: -17rem;
      background: url(/images/patterns/pattern-curve-top-left.svg);
      background-size: cover;
    }
  }
  @include min-width(medium) {
    &:after {
      content: '';
      position: absolute;
      height: 17rem;
      width: 63%;
      right: 0;
      top: -17rem;
      background-repeat: no-repeat;
    }
  }
  @include min-width(large) {
    margin-top: 0;
    display: flex;
    height: 47.5625rem;
    padding: 2rem 10%;
    align-items: center;
    justify-content: space-between;
  }
}

.highlights-text {
  text-align: center;
  width: 89%;
  margin: 0 auto;
  @include min-width(small) {
    max-width: 440px;
  }
  @include min-width(large) {
    text-align: left;
    width: 44%;
    max-width: 480px;
    margin: 0 auto 0 0;
  }
  & h2 {
    margin-top: 1.8rem;
    @include header-2;
    color: #ffff;
  }
  @include min-width(large) {
    margin-top: 3;
  }

  & p {
    @include body-1;
    color: #fff;
  }
  & .line {
    @include min-width(large) {
      margin-left: 0%;
    }
  }
}

.highlights-grids {
  width: 85%;
  margin: 4rem auto;

  @include min-width(small) {
    width: 80%;
    margin: 6rem auto;
  }
  @include min-width(large) {
    margin: 19% 0 auto 0;
    width: 50%;
    max-width: 540px;
  }

  & picture {
    position: relative;
    @include min-width(large) {
      &:after {
        content: '';
        position: absolute;
        right: -35px;
        top: 18px;
        width: 35px;
        height: 1px;
        background-color: #9e7f66;
      }
    }
  }
  & img {
    width: 100%;
    margin-bottom: 2rem;
    @include min-width(small) {
      margin-bottom: 0;
      width: 140px;
      height: 99px;
    }
  }
  & .salmon {
    text-align: center;
    padding: 2rem 0 1.5rem;
    @include min-width(small) {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.568);
      @include min-width(large) {
        padding: 0 0 1rem;
      }
    }
    & h3 {
      @include header-3L;
    }
    & p {
      @include body-2;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.568);
      @include min-width(small) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  & .fillet {
    text-align: center;
    padding: 0 0 1.5rem;
    @include min-width(small) {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.568);
    }

    @include min-width(large) {
      padding: 1rem 0;
    }

    & h3 {
      @include header-3L;
    }
    & p {
      @include body-2;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.568);
      @include min-width(small) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  & .mousse {
    text-align: center;
    padding: 0 0 1.5rem;
    @include min-width(small) {
      display: flex;
      align-items: center;
      padding: 1.3rem 0;
    }
    @include min-width(large) {
    }
    & h3 {
      @include header-3L;
    }
    & p {
      @include body-2;
    }
  }
}

.description {
  @include min-width(small) {
    text-align: left;
    max-width: 100%;
    padding: 1rem 0 0 4.4rem;
    position: relative;
  }
  @include min-width(small) {
    padding: 0 0 0 4.4rem;
  }
}
