.reservation {
  position: relative;
  transform: translateY(35px);

  @include min-width(small) {
    transform: translateY(6px);
  }
  @include min-width(large) {
    transform: translateY(9px);
  }

  & .bg-upperfooter {
    width: 100%;
  }
  .reservation-text {
    position: absolute;
    top: 10%;
    text-align: center;
    @include min-width(small) {
      width: 100%;
      top: 20%;
    }
    @include min-width(large) {
      top: 29%;
      left: 0;
      width: 80%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
    }
    & h2 {
      @include header-2;
      color: #ffff;
    }
    & button {
      @include button-on-dark;
    }
  }
}
