footer {
  background-color: $codGray;
  text-transform: uppercase;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 100px);
  row-gap: 30px;
  @include header-1;
  font-size: calc(0.7rem + 0.75vw);
  padding: 3.5rem 3rem;
  text-align: center;
  line-height: 200%;
  height: 35rem;

  & img {
    margin: auto;
    width: initial;
  }
  @include min-width(small) {
    height: 25rem;
    grid-template-columns: 40% 60%;
    text-align: left;
    grid-template-rows: repeat(2, min-content);
    margin: 0;
    font-size: 0.9rem;
    padding: 6.5rem 1.5rem 0 1.5rem;
    & img {
      margin: 0 0 0 15%;
    }
    & :last-child {
      grid-column: 2/3;
    }
  }
  @include min-width(large) {
    height: 13rem !important;
    grid-template-columns: 30% 32% 35%;
    font-size: 0.7rem;
    align-items: unset;
    grid-template-rows: 95px;
    padding: 4.5rem 10% 0 10%;
    & :last-child {
      grid-column: 3/4;
    }
  }
}
