* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
body {
  font-family: 'Spartan', Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: auto !important;
  font-size: 100%;
  transition: all 0.1s ease-in-out;
}
